* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
   
}

.navbar {
    background-color: #BFA52C;
    overflow: hidden;
    height: 60px;
    
}



img {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: -18px;
    margin-left: 30px;
    margin-right: 20px;
    
}

.navbar-links {
    list-style-type: none;
}


.navbar-links li {
    display: inline;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
}

.navbar-links li a:hover {
   color: #000;
}

.logout{
    margin-left: 480px;
}




.main-container img{
    height: 491px;
    width: 934px;
    margin-top: -457px;
    margin-left: 329px;
}

.text-container h1{
    font-family: 'Lora', serif;
    font-size: 70px;
}

.text-container {
    margin-left: 40px;
    margin-top: 40px;   
}

.paragraph p{
    justify-content: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 17px;
}

.img-standard{
    height: 300px;
    width: 540px;
    margin-top: 150px;
    margin-left: 70px;
}

.img-double{
    height: 300px;
    width: 540px;
    margin-top: 150px;
    margin-left: 30px;
}

.img-suite{
    height: 300px;
    width: 540px;
    margin-top: 150px;
    margin-left: 70px;
}

.img-deluxe{
    height: 300px;
    width: 540px;
    margin-top: 150px;
    margin-left: 30px;
}

.card1{
    background-color: #2B3618;
    width: 500px;
    height: 600px;
    padding: 20px;
    margin-right: 50px;
    color: #fff;
}

.card2{
    background-color: #2B3618;
    width: 500px;
    height: 635px;
    padding: 20px;
    margin-right: 50px;
    color: #fff;
    margin-bottom: 180px;
}

.p-deluxe{
    font-size: 20px;
}

.second-container{
    display: flex;
    margin-left: 70px;
    margin-top: 484px;
}

.third-container{
    display: flex;
    margin-left: 70px;
    margin-top: 450px;
}

.standard-h1{
    font-family: 'Lora', serif;
    font-weight: 300;
    
}

.price-h2{
    font-weight: 300;
    font-size: 17px;
    margin-top: -60px;
    padding-left: 330px;
}

.price-h2-one{
    font-weight: 300;
    font-size: 17px;
    margin-top: -60px;
    padding-left: 330px;
}

.h2-available{
    font-size: 16px;
    font-weight: bold;
    color: #D19F68;
    padding-top: 5px;
}

.p-standard{
    padding-top: 80px;
    text-align: left;
}

.p-standard-one{
    padding-top: 80px;
    text-align: left;
    font-size: 15px;
}

.styled-hr {
    border: none; 
    height: 2px; 
    background-color: #485A28; 
    margin-top: 40px; 
    margin-bottom: 20px; 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.styled-hr-one {
    border: none; 
    height: 2px; 
    background-color: #485A28; 
    margin-top: 48px; 
    margin-bottom: 20px; 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.main-room{
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.main-room1{
    display: flex;
    padding-left: 90px;
    padding-top: 20px;
}

.card-room{
    padding-right: 50px;
}

.card-room1{
    padding-right: 50px;
}


.card-room1 p{
    padding-bottom: 10px;
    font-size: 17px;
}

.card-room p{
    padding-bottom: 10px;
    font-size: 20px;
}


.h2-room-features{
    padding-top: 10px;
}

.btn {
    padding: 7px;
    font-size: 20px;
    width: 120px;
    height: 60px;
    background-color: #D19F68;
    color: #2F2D0D;
    margin-left: 170px;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    font-family: 'Lora', serif;
}

.btn:hover {
    background-color: #322316;
    transform: scale(1.1);
    color: #fff;
}

.btn1 {
    padding: 7px;
    font-size: 20px;
    width: 120px;
    height: 60px;
    background-color: #D19F68;
    color: #2F2D0D;
    margin-left: 200px;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    font-family: 'Lora', serif;
}

.btn1:hover {
    background-color: #322316;
    transform: scale(1.1);
    color: #fff;
}

.footer{
    background-color: #322316;
    padding: 30px;
    height: 530px;
}

.footer h1{
    color: #D19F68;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 300;
}

.footer p{
    color: #fff;
    text-align: center;
    padding: 30px;
}

.contact-info{
    padding-top: 30px;
    padding-left: 50px;
}

.card-contact{
    padding-top: 20px;
    margin-bottom: 30px;
}

.card-contact1{
    margin-top: -250px;
    margin-left: 20px;
}

.tel{
    margin-top: -30px;
}

.email{
    margin-top: -20px;
}

.card-contact1 p{
    text-align: left;
    font-weight: 300;
}

.card-contact i {
    font-size: 24px;
    color: #D19F68;
}

.vertical-line {
    width: 2px;
    background-color: #4C3725;
    height: 300px; 
    margin-left: 600px;
    margin-top: -270px;
}

.contact-heading{
    color: #fff;
    padding-bottom: 10px;
}

.social-media i {
    color: #D19F68; 
    font-size: 60px; 
    padding-left: 50px;
    padding-top: 20px;
}

.social-media{
    margin-left: 800px;
    margin-top: -300px;
}

.icons{
    margin-left: -90px;
}