* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth; 
}

.navbar {
    overflow: hidden;
    height: 60px;
    position: relative;
    z-index: 10; 
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #BFA52C;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.navbar-links {
    list-style-type: none;
    margin-left: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer; 
}

.navbar-links li a:hover {
    color: #000; 
}

.logout {
    margin-left: 660px;
}

.greenbg img {
    width: 350px;
    height: 350px;
    margin-left: 70px;
    margin-top: 30px;
}

.greenbg {
    background-color: #2B3618;
    margin-top: -60px;
    width: 505px;
    height: 360px;
    position: relative;
    z-index: 1; 
}

.bigpic {
    margin-left: 505px;
    margin-top: -400px;
}

.bigpic img {
    width: 758px;
    height: 400px;
}

.smallpic img{
    height: 196px;
    width: 505px;
    margin-top: -10px;
}

.text{
    display: flex;
    margin-left: 505px;
    margin-top: -200px;
    background-color: #EEEEEE;
    height: 194px;
    width: 758px;
}

.text p{
    padding-top: 40px;
    margin-left: 30px;
    font-size: 13.5px;
    
}

.card{
    margin-right: 65px;
}

.card2{
    margin-right: -20px;
}

.btn{
    background-color: #EEEEEE;
    padding: 15px;
    border: 2px solid #405124; 
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 50px;
    margin-left: -30px;
}

.btn:hover{
    background-color: #405124;
    color: #fff;
    transform: scale(1.1);
}

.about{
    margin-top: 200px;
    margin-left: 40px;
}

.about-img1 img{
    height: 500px;
    width: 500px;
}

.about-img2 img{
   width: 400px;
   margin-top: -150px;
   margin-left: 200px;
}

.about-card{
    display: flex;
}

.about-text h2{
    margin-bottom: 10px;
}

.about-text h1{
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    font-size: 50px;
    
}

.bullets{
    padding-top: 30px;
}

.bullets p{
    padding-bottom: 10px;
}

.about2{
    margin-top: 200px;
    background-color: #EEEEEE;
    margin-left: -40px;
    text-align: center;
    padding: 40px;
    height: 200px;
    
}

.about2 h1{
    font-size: 50px;
    font-family: 'Lora', serif;
    margin-bottom: 30px;
}

.about2 p{
    margin-top: -180px;
}

.services{
    margin-top: 200px;
}


.services h2{
    margin-bottom: 10px;
}

.services h1{
    font-size: 50px;
    font-family: 'Lora', serif;
    margin-bottom: 30px;
}
.services-card{
    display: flex;
    margin-left: 40px;
}

.card1{
    margin-right: 40px;
}

.services-img img{
    width: 640px; 
    height: 445px; 
}

.services-p{
    width: 500px;
}

.landing-p{
    width: 500px;
}

.sub-services-card{
    display: flex;
}

.sub-services-card2{
    display: flex;
    margin-top: -10px;
}

.sub-services-card3{
    display: flex;
    margin-top: -10px;
}

.sub-services-card4{
    display: flex;
    margin-top: -10px;
}

.sub-services{
    margin-top: 200px;
}

.services-green{
    background-color: #2B3618;
    padding: 50px;
    width: 500px;
    height: 370px;
}

.card3 img{
    width: 700px;
    height: 470px;
}

.card3 h1{
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

.card3 p{
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.hr-line {
    border: none; 
    height: 2px; 
    background-color: #485A28; 
    margin-top: 40px; 
    margin-bottom: 40px; 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}

.footer{
    background-color: #322316;
    padding: 30px;
    height: 530px;
    margin-top: 200px;
}

.footer h1{
    color: #D19F68;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 300;
}

.footer p{
    color: #fff;
    text-align: center;
    padding: 30px;
}

.contact-info{
    padding-top: 30px;
    padding-left: 50px;
}

.card-contact{
    padding-top: 20px;
    margin-bottom: 30px;
}

.card-contact1{
    margin-top: -250px;
    margin-left: 20px;
}

.tel{
    margin-top: -30px;
}

.email{
    margin-top: -20px;
}

.card-contact1 p{
    text-align: left;
    font-weight: 300;
}

.card-contact i {
    font-size: 24px;
    color: #D19F68;
}

.vertical-line {
    width: 2px;
    background-color: #4C3725;
    height: 300px; 
    margin-left: 600px;
    margin-top: -270px;
}

.contact-heading{
    color: #fff;
    padding-bottom: 10px;
}

.social-media i {
    color: #D19F68; 
    font-size: 60px; 
    padding-left: 50px;
    padding-top: 20px;
}

.social-media{
    margin-left: 800px;
    margin-top: -300px;
}

.icons{
    margin-left: -90px;
}